<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.pseudo %></h1>
    <p>
       Cozy&Fluffy  <%= @user.email %>.
    </p>
  </body>
</html>