<h1><div class="text-white text-center">Menu</div></h1>

<div class="row">
  <% @categories.each do |category| %>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header text-white bg-primary" style="max-width: 18rem;"><h5><%= category.name %></h5></div>
      <div class="card-body mb-3">
        <% @products.each do |product| %>
          <% if product.category.id === category.id %>
            <p class="card-text"><%= product.name%></p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>