<h1>Menu#index</h1>
<p>Find me in app/views/menu/index.html.erb</p>

<div class="container-fluid">
  <br>
  <h3>Notre menu </h3><br>
  <div class="list-group">
    <% @products.each do |product| %>
      <a href="/events/<%= product.id %>/" class="list-group-item list-group-item-action">
        <h5><%= product.name %></h5>
      </a>
    <% end %>
  </div>
  <br>
</div>