<div class="text-center jumbotron">
  <div class="mask" >
    <div class="d-flex justify-content-center align-items-bottom">
      <div class="text-white">
        <a class= "jumbotron-text button btn-outline-dark btn-lg " href="/association"
          role="button" rel="nofollow" target="_blank">Voir nos prochains évènements</a>
        <a class="jumbotron-text button btn-outline-dark btn-lg m-2" href="/cats"
          target="_blank" role="button">Voir nos chats</a>
      </div>
    </div>
  </div>
</div>


