<div class="container rounded col-6-md bg-light text-center pt-2">
  <div class="o">
      <%= month_calendar(events: @events) do |date, events| %>
        <%= date.day %>
       <div class ="card-header">
        <% events.each do |event| %>
            <div class ="card-title"> 
            <a href="/association/<%= event.id %>/" class="list-group-item list-group-item-action">
            <%= event.title %>
          </div> 
          </div>
        <% end %>
      <% end %>
  </div>
  <a class="btn btn-small btn-primary" type="button" href="/association">Voir plus d'évènements</a>
  <br><br>
</div>
