<ul class="slider">
  <li>
    <img class="d-block w-100" src="https://images.pexels.com/photos/1359307/pexels-photo-1359307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="First cat">
  </li>
  <li>
    <img class="d-block w-100" src="https://images.pexels.com/photos/674570/pexels-photo-674570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="First cat">
  </li>
  <li>
    <img class="d-block w-100" src="https://images.pexels.com/photos/1444492/pexels-photo-1444492.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="First cat">
  </li>
  <li>
    <img class="d-block w-100" src="https://images.pexels.com/photos/1359307/pexels-photo-1359307.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="First cat">
  </li>
</ul>