<h3 class="rounded text-center" style="background-color:#ebb181; color:#ffffff;">Nos chats à l'adoption</h3>

<div class="container-fluid rounded text-center bg-dark py-4 px-7">
  <div class="row">
    <% @catsadoptables.each do |cat| %>
      <div class="col">
        <img class="img-fluid img-thumbnail" src="<%= cat.image_url %>"/>
        <div>
          <strong><%= cat.name %></strong>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div>
    <%= link_to "Voir plus de chats", cats_path, class:"btn btn-primary" %>
  </div>
</div>
