<div class="container rounded text-primary text-center justify-content-center bg-light ">
  <h3>Nos chats à l'adoption</h3>
</div>

<div class="container rounded text-center bg-dark py-4 px-7 align-items-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
    <div class="col">
        <img
          class="img-thumbnail" width="60%"
          src="https://images.unsplash.com/photo-1568928884515-8517cadb6e29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
          alt="cat1"
        />
    </div>
    <div class=col>
        <img
          class="img-thumbnail" width="60%"
          src="https://images.unsplash.com/photo-1581246188491-6498269314a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
          alt="cat2"
        />
    </div>
    <div class=col>
        <img
          class="img-thumbnail" width="60%"
          src="https://images.unsplash.com/photo-1614981353381-a6afb08ebfbc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
          alt="cat3"
        />
    </div>
    <div class="col">
        <img
          class="img-thumbnail" width="60%"
          src="https://images.unsplash.com/photo-1472053092455-ee16a8b358b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
          alt="cat4"
        />
    </div>
  </div>
  <br>
  
    <div>
    <%= link_to "Voir plus de chats", cats_path, class:"btn btn-primary" %>
    </div>

</div>
