<h3 class="cats-title-home d-flex text-color-brown justify-content-center align-items-center bg-light">NOS CHATS A L'ADOPTION</h3>

<div class="cats-pictures-container d-flex flex-wrap bg-light pt-3">
  <p class="cat-picture">
    <img
      class="img-thumbnail"
      src="https://images.unsplash.com/photo-1568928884515-8517cadb6e29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
      alt="Hollywood Sign on The Hill"
    />
  </p>
  <p class="cat-picture">
    <img
      class="img-thumbnail"
      src="https://images.unsplash.com/photo-1581246188491-6498269314a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
      alt="Hollywood Sign on The Hill"
    />
  </p>
  <p class="cat-picture">
    <img
      class="img-thumbnail"
      src="https://images.unsplash.com/photo-1614981353381-a6afb08ebfbc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
      alt="Hollywood Sign on The Hill"
    />
  </p>
  <p class="cat-picture">
    <img
      class="img-thumbnail"
      src="https://images.unsplash.com/photo-1472053092455-ee16a8b358b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
      alt="Hollywood Sign on The Hill"
    />
  </p>
</div>

<div>
  <button class="btn btn-primary btn-cat mt-2 mb-2" onclick="window.location.href='/cats';">Voir plus de chats</button>
</div>

