<h3 class="container rounded text-primary text-center justify-content-center bg-light ">Horaires</h3>

<div class="container rounded text-center bg-dark mx-0">
  <p>Du mardi au vendredi <br>
  9h00 - 17h00 <br>
  Les samedi et dimanche <br>
  11h00 - 15h00 <br></p>
</div>
