<h3 class="rounded text-center" style="background-color:#ebb181; color:#ffffff;">Horaires</h3>

<div class="container-fluid rounded text-center bg-dark">
  <p><strong>Du mardi au vendredi</strong><br>
  9h00 - 17h00 <br>
  <strong>Le dimanche</strong><br>
  11h00 - 15h00</p>
</div>
