<div class="text-center justify-content-center bg-light ">
  <h3>Informations</h3>
</div>
<div class="text-center">
  <div id="hours" class="bg-dark">
    <p><strong>HORAIRES</strong></p>
    <p>Du mardi au vendredi</p>    
    <p>9:00 - 17:00</p>
    <p>Le brunch du dimanche</p>
    <p>11:00 - 15:00</p>
  </div>
  <br>
  <div id="adress" class="bg-dark">
    <p><strong>ADRESSE</strong></p>
    <p>1 rue des chatons</p>    
    <p>12345 CHAPRISTI</p>
  </div>
</div>