<h3 class="container rounded text-primary text-center justify-content-center bg-light ">Horaires</h3>

<h3 class="container rounded text-center justify-content-center bg-light mx-0">Informations</h3>

<div class="container rounded text-center mx-0">
  <div id="adress" class=" container bg-dark">
    <p><strong>ADRESSE</strong></p>
    <p>1 rue des chatons</p>    
    <p>12345 CHAPRISTI</p>
  </div>
<div class="container rounded text-center bg-dark mx-0">
  <p>Du mardi au vendredi <br>
  9h00 - 17h00 <br>
  Les samedi et dimanche <br>
  11h00 - 15h00 <br></p>
</div>
