
<h3 class="container rounded text-center justify-content-center bg-light mx-0">Informations</h3>

<div class="container rounded text-center mx-0">
  <div id="hours" class="container rounded bg-dark">
    <p><strong>HORAIRES</strong></p>
    <p>Du mardi au vendredi</p>    
    <p>9:00 - 17:00</p>
    <p>Le brunch du dimanche</p>
    <p>Formule à 30€</p>
    <p>11:00 - 15:00</p>
  </div>
  <div id="adress" class=" container bg-dark">
    <p><strong>ADRESSE</strong></p>
    <p>1 rue des chatons</p>    
    <p>12345 CHAPRISTI</p>
  </div>
</div>
