<div class="jumbotron">
  <div class="d-flex text-center justify-content-center">
    <p><br><br>
      <button class="btn btn-small" style="background-color: #DC985F; width: 200px" type="button" href="/cats">Nos chats</button>
      <br><br>
      <button class="btn btn-small " style="background-color: #a76551; width: 200px" type="button" href="/association">Évènements à venir</button>
      <br><br>
      <button class="btn btn-small" style="background-color: #DC985F; width: 200px" type="button" href="https://buy.stripe.com/test_28o5l74W32xxcko000">Faire un don</button>
    </p>
  </div>
</div>


