<div class="jumbotron">
  <div class="col text-center">
    <p>
      <form action="/checkout/donation" method="post">
        <button type="submit" class="btn btn-small" style="background-color: #a76551; width: 200px"></i>Faire un don</button>
      </form>
      <br><br>
      <a class="btn btn-small" style="background-color: #DC985F; width: 200px" type="button" href="/cats">Nos chats</a>
      <br><br><br>
      <a class="btn btn-small" style="background-color: #a76551; width: 200px" type="button" href="/association">Évènements à venir</a>
      <br><br>
    </p>
  </div>
</div>


