<style>
#map {
  width: 350px; 
  height: 300px; 
  border-radius: 10px;
  position: center;
}

.marker {
  background-image: url(<%= asset_path 'marker-patoune.png' %>);
  background-size: cover;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
</style>

<h3 class="rounded text-center" style="background-color:#ebb181; color:#ffffff;">Adresse</h3>

<div class="container-fluid rounded text-center bg-light pt-4">
  <div id="map" class="container-fluid"></div>
  <div class="p-1"> Rue du Chat Qui Pêche <br>
  75005 Paris, France</div>
</div>
<br>