<h3 class="salon-title-home d-flex text-color-brown justify-content-center align-items-center bg-light">LE SALON</h3>

<div class="cats-pictures-container d-flex flex-wrap bg-light pt-3">
  <p style="width: 350px">
    <img
      class="img-thumbnail"
      src="https://media.timeout.com/images/105325462/1536/864/image.jpg"
    />
  </p>
  <p style="width: 350px">
    <img
      class="img-thumbnail"
      src="https://i.topi.to/3fMur0EmCATOmFbXxeqklHOSArz5evPYC5gIn_gRDFs=/1200x630/smart/filters:fill(white):format(webp):quality(70)/https%3A%2F%2Fwww.topito.com%2Fwp-content%2Fuploads%2F2022%2F02%2Fle-gentlecat-bar-chats-lyon.jpg"
    />
  </p>
  <p style="width: 350px">
    <img
      class="img-thumbnail"
      src="https://i2.wp.com/www.carnetlyonnais.com/wp-content/uploads/2018/05/le-comptoir-du-gentlecat-bar-a-chats-lyon-perrache-carnet-lyonnais-1.jpg?w=1200&ssl=1"
    />
  </p>
  <p style="width: 350px">
    <img
      class="img-thumbnail"
      src="https://i2.wp.com/www.carnetlyonnais.com/wp-content/uploads/2018/05/le-comptoir-du-gentlecat-bar-a-chats-lyon-perrache-carnet-lyonnais-2.jpg?w=1200&ssl=1"
    />
  </p>
</div>

<div class="cats-pictures-container d-flex flex-wrap bg-light pt-3">
  <p style="object-fit: none, object-position: center, width: 100%, max-height: 250px">
    <img
      class="img-thumbnail"
      src="https://media.timeout.com/images/105325462/1536/864/image.jpg"
    />
  </p>
  <p style="width: 350px">
    <img
      class="img-thumbnail"
      src="https://i.topi.to/3fMur0EmCATOmFbXxeqklHOSArz5evPYC5gIn_gRDFs=/1200x630/smart/filters:fill(white):format(webp):quality(70)/https%3A%2F%2Fwww.topito.com%2Fwp-content%2Fuploads%2F2022%2F02%2Fle-gentlecat-bar-chats-lyon.jpg"
    />
  </p>
  <p style="width: 350px">
    <img
      class="img-thumbnail"
      src="https://i2.wp.com/www.carnetlyonnais.com/wp-content/uploads/2018/05/le-comptoir-du-gentlecat-bar-a-chats-lyon-perrache-carnet-lyonnais-1.jpg?w=1200&ssl=1"
    />
  </p>
  <p style="width: 350px">
    <img
      class="img-thumbnail"
      src="https://i2.wp.com/www.carnetlyonnais.com/wp-content/uploads/2018/05/le-comptoir-du-gentlecat-bar-a-chats-lyon-perrache-carnet-lyonnais-2.jpg?w=1200&ssl=1"
    />
  </p>
</div>

<div>
  <button class="btn btn-primary btn-cat justify-content-center mt-2 mb-2" onclick="window.location.href='/menu';">Voir notre carte</button>
</div>

