<div class="container text-primary text-center justify-content-center bg-light ">
  <h3>LE SALON</h3>
</div>

<div class="container text-center bg-dark py-4 px-10 align-items-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
    <div class="col">
      <img
        class="img-thumbnail" width="90%"
        src="https://media.timeout.com/images/105325462/1536/864/image.jpg"
      />
    </div>
    <div class="col">
      <img
        class="img-thumbnail" width="90%"
        src="https://i.topi.to/3fMur0EmCATOmFbXxeqklHOSArz5evPYC5gIn_gRDFs=/1200x630/smart/filters:fill(white):format(webp):quality(70)/https%3A%2F%2Fwww.topito.com%2Fwp-content%2Fuploads%2F2022%2F02%2Fle-gentlecat-bar-chats-lyon.jpg"
      />
    </div>
    <div class="col">
      <img
        class="img-thumbnail" width="90%"
        src="https://i2.wp.com/www.carnetlyonnais.com/wp-content/uploads/2018/05/le-comptoir-du-gentlecat-bar-a-chats-lyon-perrache-carnet-lyonnais-1.jpg?w=1200&ssl=1"
      />
    </div>
    <div class="col">
    <img
      class="img-thumbnail" width="90%" 
      src="https://i2.wp.com/www.carnetlyonnais.com/wp-content/uploads/2018/05/le-comptoir-du-gentlecat-bar-a-chats-lyon-perrache-carnet-lyonnais-2.jpg?w=1200&ssl=1"
    />
    </div>
  </div>
  <br>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
    <div class="col">
      <img
        class="img-thumbnail" width="90%"
        src="https://sites.create-cdn.net/siteimages/65/9/5/659500/20/3/4/20342406/1500x1000.jpg?1674217703"
      />
    </div>
    <div class="col">
      <img
        class="img-thumbnail" width="90%"
        src="https://i0.wp.com/pintade-montpellier.com/wp-content/uploads/2020/02/hygge-cafe-montpellier-7.jpg"
      />
    </div>
    <div class="col">
      <img
        class="img-thumbnail" width="90%"
        src="https://cdn.sortiraparis.com/images/1001/97624/736988-le-cafe-vert-du-printemps-haussmann.jpg"
      />
    </div>
    <div class="col">
      <img
        class="img-thumbnail" width="90%"
        src="https://lilleaddict.fr/wordpress/wp-content/uploads/2019/10/70072849_482638532590892_8402032775004902387_n-600x450.jpg"
      />
    </div>
  </div>

  <br>

  <div class="row justify-content-evenly">
    <div class="col-4">
      <%= link_to "Voir notre carte", menu_index_path, class:"btn btn-primary " %>
    </div>
    <div class="col-4">
      <a class="btn btn-primary" href="https://buy.stripe.com/test_28o5l74W32xxcko000">Faire un don</a>
    </div>
  </div>
</div>

