<div class="container rounded text-primary text-center justify-content-center bg-light ">
  <h3>LE SALON</h3>
</div>

<div class="container rounded text-center bg-dark py-4 px-10 ">
  <div class="row">
    <div class="col">
      <img
        class="img-thumbnail" width="50%"
        src="https://media.timeout.com/images/105325462/1536/864/image.jpg"
      />
      <p class="mt-2 bg-light"> Le salon associatif Cozy & Fluffy vous accueille dans une ambiance chaleureuse, où vous pourrez déguster nos boissons et encas tout en profitant de la compagnie de nos chats.
      </p>
    </div>
  </div>
  <div class="row d-flex justify-items-center">
    <div class="col">
      <img
        class="img-thumbnail" width="300px"
        src="https://i0.wp.com/pintade-montpellier.com/wp-content/uploads/2020/02/hygge-cafe-montpellier-7.jpg"
      />
    </div>
    <div class="col">
      <img
        class="img-thumbnail" width="340px"
        src="https://cdn.sortiraparis.com/images/1001/97624/736988-le-cafe-vert-du-printemps-haussmann.jpg"
      />
    </div>
    <div class="col">
      <img
        class="img-thumbnail" width="300px"
        src="https://lilleaddict.fr/wordpress/wp-content/uploads/2019/10/70072849_482638532590892_8402032775004902387_n-600x450.jpg"
      />
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col">
      <%= link_to "Voir notre carte", menu_index_path, class:"btn btn-primary " %>
    </div>
  </div>
</div>

