<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<header>
	<%= render 'banner2' %>
</header>
<br>
<body>
	<%= render 'cats' %>
	<br>
	<%= render 'salon' %>
	<br>
</body>
</html>