

.text-color-pink {
  color: #FAD9D7;
}

.text-color-brown {
  color: #A57164;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(0, 0, 0, 0.3);
  --bs-navbar-hover-color: #A57164;
  --bs-navbar-disabled-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-active-color: #A57164;
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: #A57164;
  --bs-navbar-brand-hover-color: #A57164;
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.3%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
  --bs-navbar-toggler-border-radius: 0.4rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  padding-left: 1rem;
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: 45px;
  color: #A57164;
  text-decoration: none;
  white-space: nowrap;
  justify-content: start;
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #A57164;
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 80px;
  font-size: 20px;
  align-items: center;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color:  #FAD9D7 ;
}

.bg-dark {
  background-color: #FAD9D7 !important;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  background-color: #A57164;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}

.navbar > .container {
  justify-content: center;
}

.jumbotron {
  padding-top: 140px;
  padding-bottom: 20px;
  background: url('https://images.unsplash.com/photo-1571570703598-39eb580a0329?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80');
  background-size: cover;
  background-position: bottom;
  max-height : 90%;
}

.button {
  display: inline-block;
  border: 2px solid #A57164;
  background: #FAD9D7;
  padding: 10px 20px;
  color: #A57164;
  text-decoration: none;
  transition: 0.3s;
  align-items: bottom;
}

.button:hover {
  background: white;
  color: #A57164;
}

.btn-donation {
  color: white;
}

.cats-pictures-container {
  align-items: center; 
  justify-content: center;
}

.btn-cat {
  height: 40px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: table;
  width: 100%; 
}

footer {
  height: 65px;
}

body > footer {
   display: table-row;
}

.cats-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .cats-container {
    grid-template-columns: 1fr;
  }
}


.my-form {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: white !important;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;   
}

.home-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.home-content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.home-features {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
