<footer class="footer bg-dark text-center">
  <div class="text-center p-2">
    <a class="btn btn-sm btn-primary" href="/"><i class="fa-solid fa-house" role="button"></i></a>
    © Cozy & Fluffy team. GitHub:
    <a class="text" href="https://github.com/LisaDaudibon/Cozyfluffy">Cozyfluffy</a>
    <br>
    <a class="text" href=mailto:“cozyfluffy@yopmail.com”>Contactez-nous</a>
  </div>
</footer>