<div class="bs-component">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="d-flex">
        <% if current_user %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin">Gestion admin</a>
            </li>
          </ul>
        <% else %>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/association">Association</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cats">Chats</a>
            </li>
          </ul>
        <% end %>
        <div class="navbar-brand">
          <a class="nav-link" href="/"><strong>COZY <%= image_tag "cozy.png", class:"logo", style:"width: 80px" %> FLUFFY </strong></a>
        </div>
        <% if current_user %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/signout">Se déconnecter</a>
              </li>
            </ul>
        <% else %>
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/sign_in">Se connecter</a>
            </li>
          </ul>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
</div>
